<section class="form-container">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <nav>
  <%= link_to raw('&larr;'), :back, class: "arrow-link" %>
    <h2>REGISTER</h2>
    <div>
      <%= f.submit "Next" %>
    </div>
  </nav>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation" %>
  </div>
<% end %>
</section>
