
<div class="owner">
  <% if @current_owner != category.user %>
    <p>
      <strong>Name:</strong>
      <%= category.user.name %>
    </p>
  <% @current_owner = category.user %>
  <% end %>
</div>

<div class="cate-container" id="<%= dom_id category %>">
  <div>
    <img src="<%= category.icon %>" alt="Category Icon" width="100" height="100">
  </div>

  <div>
    <p>
      <%= category.name %>
    </p>
  
    <p>
      <strong>$</strong>
      <%= category.details.sum(:amount) %>
    </p>

    <p>
      <%= link_to "View details", category_details_path(category) %>
    </p>
  </div>
  
</div>
