<section class="form-container">
  <nav>
    <%= link_to raw('&larr;'), authenticated_root_path, class: "arrow-link" %>
      <h2>TRANSECTIONS</h2>
      <p class="sign-out">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </p>
  </nav>

  <div class="add-cate">
  <%= form_with(model: category) do |form| %>
    <% if category.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :icon_url, style: "display: block" %>
      <%= form.text_field :icon %>
    </div>

    <div class="field">
      <%= form.submit %>
    </div>
  <% end %>
  </div>
</section>
