<p style="color: green"><%= notice %></p>

<h1>Details for <%= @category.name %></h1>
<p><strong>Total Amount:</strong> <%= number_to_currency(@category.details.sum(:amount)) %></p>
<div id="details">
  <% if @details.empty? %>
    <p>No details found for this category.</p>
  <% else %>
    <% @details.each do |detail| %>
      <%= render detail %>
    <% end %>
  <% end %>
</div>
<%= link_to "New Detail", new_category_detail_path(@category) %>

